{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('home') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <div class='home-page'>
        <div id='slider'>
            {% for slider in sliders %}
                <div class="item">
                    <div class="background"><img src="{{ slider.imageUrl }}"></div>
                    <a class="link button" href="{{ slider.url }}">{{ slider.title }}&nbsp;&nbsp;&nbsp;&#8594;</a>
                </div>
            {% endfor %}
        </div>

        {% include 'partials/header.html.twig' %}

        <section>
            <p class="title">Новинки</p>
            <div id="new-products">
                {% for product in products %}
                    {% include 'partials/product-item.html.twig' %}
                {% endfor %}
            </div>
        </section>

        {% if feedbacks|length > 0 %}
        <section>
            <p class="title">Відгуки про магазин</p>
            <div id="feedbacks">
                {% for comment in feedbacks %}
                    <div class="comment">
                        {% include 'partials/comment.html.twig' %}
                    </div>
                {% endfor %}
            </div>
            <div id="feedback-buttons">
                <a href="/feedbacks#add" class="green-button">Додати відгук</a>
                <a href="/feedbacks" class="green-button">Переглянути відгуки</a>
            </div>
        </section>
        {% endif %}
    </div>
{% endblock %}
