{% extends "base.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('account') }}
{% endblock %}

{% block body %}

    <header>
        {% include 'partials/header.html.twig' %}
    </header>

    <section>
        <div class="title">Особистий кабінет</div>

        <div class="account">
            <ul class="left-side">
                <li><a href="/account"><img src="/images/home.png"><span><b>Головна сторінка</b></span></a></li>
                <li><a href="/account/contacts"><img src="/images/setting.png"><span>Контактні дані</span></a></li>
                <li><a href="/account/orders"><img src="/images/list.png">Мої замовлення</a></li>
                <li><a id="logout"><img src="/images/log_out.png">Вийти</a></li>
            </ul>
            <div class="main-part">
                <h4>Головна сторінка:</h4>

                <div class="account-description">
                    <p>Привіт, <span class="green bold">{{ user.name }}</span></p>
                    <p>Ти знаходишся в особистому кабінеті. Тут можна переглянути деталі та вміст своїх замовлень, а також відслідковувати їх статус на сторінці <a href="/account/orders">мої замовлення</a></p>
                    <p>Свої особисті дані можна змінити на сторінці <a href="/account/contacts">редагування профілю</a>.</p>
                </div>

                {% if order %}
                    <h5 class="last-order">Останнє активне замовлення:</h5>
                {% endif %}

                <ul class="my-orders">
                    {% if order %}
                        <li>
                            <a class="no-link-style" href="/account/orders/{{ order.id }}">
                                <div class="detail">
                                    <p>
                                        <b style="color: {{ constant('App\\Entity\\Order::GROUPED_STATUSES')[order.status]['color'] }}">
                                            {{ constant('App\\Entity\\Order::GROUPED_STATUSES')[order.status]['title'] }}
                                        </b>
                                    </p><br>
                                    <p class="gray">{{ order.createdAt.format('d') }} {{ monthNamesUa[order.createdAt.format('m')] }} {{ order.createdAt.format('Y') }}</p>
                                    <p class="gray bold">№ {{ order.orderNumber }}</p><br>
                                    <p class="price">{{ order.total|number_format(0, '.', ' ') }} грн</p>
                                </div>
                                <div class="products">
                                    {% if order.items|length > 1 %}
                                        {% for item in order.items %}
                                            <div class="image">
                                                {#                                                        <a href="/products/{{ item.product.id }}" target="_blank">#}
                                                <img
                                                        src="/images/products/{{ item.product.getImages()[0].imageUrl }}"
                                                        onerror="this.src='/images/no_image.png';"
                                                >
                                                {#                                                        </a>#}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="image">
                                            {#                                                <a href="/products/{{ order.items[0].product.id }}" target="_blank">#}
                                            <img
                                                    src="/images/products/{{ order.items[0].product.getImages()[0].imageUrl }}"
                                                    onerror="this.src='/images/no_image.png';"
                                            >
                                            {#                                                </a>#}
                                        </div>
                                        <div class="product-title">
                                            {#                                                <a href="/products/{{ order.items[0].product.id }}" target="_blank">#}
                                            {{ order.items[0].product.title }}
                                            {#                                                </a>#}
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                    {% else %}
                        <p class="no-orders">{{ noOrder.getValue() }}</p>
                    {% endif %}
                </ul>
                <h5 class="wish-list">Улюблені продукти:</h5>
            </div>
        </div>
    </section>

{% endblock %}
