{% extends "base.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
{% endblock %}

{% block body %}

    <header>
        {% include 'partials/header.html.twig' %}
    </header>

    <section>
        <div class="title">{{ 'about_us'|trans }}</div>

        <div class="breadcrumb">
            <a class="no-link-style">x-media</a>
            <span>&nbsp;> </span>
            <a href="/">{{ 'about_us.home'|trans }}</a>
            <span> > </span>
            <a class="selected">{{ 'about_us.home'|trans }}</a>
        </div>

        <div class="about-us">
            <h3>Ми X-media</h3>
            <h4>Інтернет-магазин електротехніки x-media.com.ua</h4>
            <p>
                Ми онлайн магазин і ми допоможемо Вам підібрати телевізор, ноутбук та багато іншої техніки для дому чи офісу, для роботи або відпочинку.
                Ми працюємо тільки з якісним товаром з Європи, тому якість та чесність гарантована.
                Ви можете не хвилюватись за якість купленого товару, тому що все це ми самі особисто ретельно перевіряємо для кожної позиції у нашому магазині.
                Також наші спеціалісти зможуть порадити чи допомогти у виборі того чи іншого товару.
            </p>

            <img src="/images/salon.jpg" alt="Shop">
            <h4>Широкий вибір товарів</h4>
            <p>
                У нас понад 100 позицій у кожній категорії товарів.
                Для швидкого пошуку є зручний фільтр, а також детальні характеристики кожного продукту.
                Тому Вам буде дуже легко орієнтуватись у нас на сайті, а також дізнаватись детальну інформацію про той чи інший товар стало ще комфортніше.
                Також наш менеджер завжди на зв'язку готовий вирішити будь-яке Ваше питання.
            </p>

            <h4>Сервіс та гарантія</h4>
            <p>
                Ми пропонуєм тільки офіційний і сертифікований товар з гарантією і сервісною підтримкою в Україні.
                Детальну інформацію про гарантійне обслуговування Ви можете знайти на сторінці <a href="/warranty">гарантії</a>.
            </p>

            <h4>Купувати це зручно</h4>
            <p>
                Для того щоб замовити товар просто додайте його в корзину перейдіть на сторінку оформлення натиснувши на іконку корзини заповніть основні поля і ваше замовлення готове.
                Доставка здійснюється через служби доставки в будь-який куточок України.
                Більш детальна інформація розміщена на сторінці <a href="/delivery-and-pay" target="_blank">доставки та оплати</a>.
            </p>

            <p>Також ви можете зробити замовлення за телефоном: <span>{{ phoneNumber.getValue() }}</span> </p>

            <p>Отримати консультацію можна за email: <span>{{ email.getValue() }}</span></p>

            <p class="social-network">Також ми в соцмережах:
                <a href="viber://chat?number=380968642188">
                    <img src="/images/viber.png" alt="Viber">
                </a>
                <a href="tg://resolve?domain=lionpion4ik">
                    <img src="/images/telegram.png" alt="Telegram">
                </a>
                <a href="">
                    <img src="/images/instagram.png" alt="Instagram">
                </a>
            </p>

            <h4>Ми будемо щиро раді кожному з Вас :)</h4>
        </div>
    </section>

{% endblock %}
