<form id="filter-form">
    <div class="filter">
        <p class="filter-title">Ціна:</p>
        <div class="price-filter">
            <span>від: </span>
            <input type="text" name="price_from" value="{% if minPrice is defined %}{{ minPrice|number_format(0, '.', ' ') }}{% endif %}" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            <span>до: </span>
            <input type="text" name="price_to" value="{% if maxPrice is defined %}{{ maxPrice|number_format(0, '.', ' ') }}{% endif %}" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
        </div>
    </div>
    {% for key, filter in filters %}
        {% if filter.getAttributes()|length > filterCount  %}
            {% set height = 32 * filterCount  %}
        {% else %}
            {% set height = 0  %}
        {% endif %}
        <div class="filter">
            <p class="filter-title">{{ filter.title }}:</p>
            <div class="outer" {% if height > 0 %}style="height: {{ height }}px"{% endif %}>
                <div class="inner">
                    {% for attribute in filter.getAttributes() %}
                        <label class="container">{{ attribute.value }}
                            <input type="checkbox" name="{{ attribute.id }}" {% if attribute.id in query %}checked{% endif %}>
                            <span class="checkmark"></span>
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</form>