<div id="menu">
    <div class="logo"><a href="/">X-media</a></div>
    <div class="categories">
        <ul>
            {% if categories|length > 3 %}
            <li class="catalog">
                <a href="" onclick="return false;">
                    <span class="ico">
                        <span class="line1"></span>
                        <span class="line2"></span>
                        <span class="line3"></span>
                    </span>
                    Каталог
                </a>
                <div class="header-main">
                    <ul class="categories-list">
                        {% for category in categories %}
                            <li>
                                <a class="no-link-style" href="/categories/{{ category.slug }}">
                                    <div class="link">
                                        <span>{{ category.title }}</span>
                                        {% if category.children|length > 0 %}
                                            <img class="category_arrow" src="/images/arrow_subcategory.png">
                                        {% endif %}
                                    </div>
                                </a>
                                {% if category.children|length > 0 %}
                                    <div class="subcategories">
                                        <ul>
                                            {% for child in category.children %}
                                                <li>
                                                    <a class="no-link-style" href="/categories/{{ child.slug }}">
                                                        <div class="link">
                                                            {{ child.title }}
                                                        </div>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% endif %}
            {% for category in categories %}
                {% if category.showInHeader %}
                <li>
                    <a href="/categories/{{ category.slug }}">{{ category.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="search">
        <form action="/search" method="GET">
            <input type="text" name="search" placeholder="Пошук..." autocomplete="off" value="{% if searchString is defined %}{{ searchString }}{% endif %}">
            <button type="submit"><img src="/images/search.svg" /></button>
        </form>
    </div>
    <div class="cart">
        <img class="cart-ico" src="/images/cart.png">
        <div class="cart-count"/>
            {% if totalCount > 0 %}
                {{ totalCount }}
            {% else %}
                0
            {% endif %}
        </div>
        <a href="{% if app.session.get('user') %}/account{% else %}/login{% endif %}"><img class="account-ico" src="/images/{% if app.session.get('user') %}account_logged.png{% else %}account.png{% endif %}"></a>
    </div>
</div>
<!-- <div id="menu-fixed">
    <div class="logo"><a href="/">X-media</a></div>
    <div class="categories">
        <ul>
            {% for category in categories %}
                <li>
                    <a href="/categories/{{ category.slug }}">{{ category.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="search">
        <form action="/search" method="GET">
            <input type="text" name="search" placeholder="Пошук..." autocomplete="off" value="{% if searchString is defined %}{{ searchString }}{% endif %}">
            <button type="submit"><img src="/images/search.svg" /></button>
        </form>
    </div>
    <div class="cart">
        <img class="cart-ico" src="/images/cart.png">
        <div class="cart-count"/>
            {% if totalCount > 0 %}
                {{ totalCount }}
            {% else %}
                0
            {% endif %}
        </div>
        <a href="{% if app.session.get('user') %}/account{% else %}/login{% endif %}"><img class="account-ico" src="/images/{% if app.session.get('user') %}account_logged.png{% else %}account.png{% endif %}"></a>
    </div>
</div>-->
