<div class="product">
    <div class="inner">
        <a href="/products/{{ product.id }}">
            <img src="/{{ product.images[0].imageUrl }}" data-first="/{{ product.images[0].imageUrl }}" data-next="/{{ product.images[1].imageUrl }}">
        </a>
        <div class="product-title"><a href="/products/{{ product.id }}">{{ product.title }}</a></div>
        <div class="price">{{ product.price }} грн</div>
        <div class="add2cart">
            <img src="/images/cart.png" data-id="{{ product.id }}" data-name="{{ product.title }}" data-price="{{ product.price }}">
        </div>
    </div>
</div>
