<div class="product">
    <div class="inner">
        <a href="/products/{{ product.id }}" class="product-image">
            <img src="{% if product.images %}/{{ product.images[0].imageUrl }}{% endif %}">
        </a>
        <div class="product-title"><a href="/products/{{ product.id }}">{{ product.title }}</a></div>
        <div class="price">{{ product.price }} грн</div>
        <div class="add2cart">
            <img src="/images/cart.png" data-id="{{ product.id }}" data-name="{{ product.title }}" data-price="{{ product.price }}">
        </div>
    </div>
</div>
