<div id="categories-block">
    {% for category in categoryTree %}
        <div class="category-item">
            <a class="no-link-style" href="{{ path('categories', {'slug': category.slug, 'search': searchString}) }}">
                <div class="category-image">
                    <img src="/images/category/{{ category.image }}" alt="{{ category.title }}">
                </div>
                <div class="category-title">
                    {{ category.title }} <span class="category-title-gray">({{ category.productsCount }})</span>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
