{% extends "base.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
{% endblock %}

{% block body %}

    <header>
        {% include 'partials/header.html.twig' %}
    </header>

    <section>
        <div class="title">Дякуємо за покупку</div>

        <div class="breadcrumb">
            <a>X-media</a>
            <span> > </span>
            <a href="/">Головна</a>
            <span> > </span>
            <a class="selected">Дякуємо за покупку</a>
        </div>

        <div class="order-detail">
            <p class="thanks">Ми отримали Ваше замовлення<br>Номер замовлення <b>{{ order.orderNumber }}</b><br>Невдовзі ми з Вами зв'яжемося для уточнення деталей</p>
            <table class="products">
                {% for item in order.items %}
                    <tr>
                        <td class="image">
                            <a href="/products/{{ item.product.id }}">
                                <img
                                    src="/images/products/{{ item.product.getImages()[0].imageUrl }}"
                                    onerror="this.src='/images/no_image.png';"
                                >
                            </a>
                        </td>
                        <td><a href="/products/{{ item.product.id }}">{{ item.product.title }}</a></td>
                        <td class="count">{{ item.count }}</td>
                    </tr>
                {% endfor %}
            </table>
            <p><span>Спосіб оплати: </span>{{ order.paytype.title }}</p>
            <p><span>Спосіб доставки: </span>{{ order.deltype.title }}</p>
            {% if order.address %}<p><span>Адреса: </span></span>{{ order.address }}</p>{% endif %}
            <p><span>Загальна вартість: </span>{{ order.total|number_format(0, '.', ' ') }} грн</p>
            <div class="main-page-btn">
                <a class="green-button" href="/">Головна сторінка</a>
            </div>
        </div>
    </section>

{% endblock %}
