{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('account') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}

<section>
    <div class="account">
        <ul class="left-side">
            <li class="open"><a href="/account"><img src="/images/home.png"><span>Особистий<br>кабінет</span></a></li>
            <li><a href="/account/contacts"><img src="/images/setting.png"><span>Контактні<br>дані</span></a></li>
            <li><a href="/account/orders"><img src="/images/list.png"><span>Мої<br>замовлення</span></a></li>
            <li><a id="logout"><img src="/images/log_out.png"><span>Вийти</span></a></li>
        </ul>
        <div class="main-part">
            <h4>Особистий кабінет</h4>

            {% if order %}
                <h5>Останнє активне замовлення</h5>
            {% endif %}

            <ul class="my-orders">
                {% if order %}
                    <li>
                        <a class="no-link-style" href="/account/orders/{{ order.id }}">
                            <table class="products">
                                <tr>
                                    <td>
{#                                        <a class="no-link-style" href="/products/{{ order.items[0].product.id }}" target="_blank">#}
                                            <img
                                                    src="/images/products/{{ order.items[0].product.getImages()[0].imageUrl }}"
                                                    onerror="this.src='/images/no_image.png';"
                                            >
{#                                        </a>#}
                                    </td>
                                </tr>
                            </table>
                            {% if order.items|length > 1 %}
                                <div class="extra-products-amount">+{{ order.items|length - 1 }}</div>
                            {% endif %}
                            <div class="info">
                                <div class="status">
                                    <b style="color: {{ constant('App\\Entity\\Order::GROUPED_STATUSES')[order.status]['color'] }}">
                                        {{ constant('App\\Entity\\Order::GROUPED_STATUSES')[order.status]['title'] }}
                                    </b>
                                </div>
                                <div class="number-order">№ {{ order.orderNumber }}</div>
                                <div class="datetime-price">
                                    <div class="datetime">{{ order.createdAt.format('Y-m-d H:i:s') }}</div>
                                    <div class="price"><b>{{ order.total|number_format(0, ',', ' ') }} грн</b></div>
                                </div>
                            </div>
                        </a>
                    </li>
                {% else %}
                    <p class="no-orders">{{ noOrder.getValue() }}</p>
                {% endif %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}
