{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('home') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}

<div id="search-block">
    <form action="/search" method="GET" id="search">
        <input type="text" name="search" placeholder="Пошук..." autocomplete="off" value="{% if searchString is defined %}{{ searchString }}{% endif %}">
        <p class="error"></p>
        <button type="submit"><img src="/images/search.svg" /></button>
    </form>
</div>

{% if app.session.get('user') and order %}
    <div class="last-active-order">
        <p>Привіт, <span class="green bold">{{ user.name }}</span>, ось<br>
            твоє останнє активне замовлення
        </p>
        <ul class="my-orders">
            <li>
                <a class="no-link-style" href="/account/orders/{{ order.id }}">
                    <table class="products">
                        <tr>
                            <td>
                                {#                                        <a class="no-link-style" href="/products/{{ order.items[0].product.id }}" target="_blank">#}
                                <img
                                        src="/images/products/{{ order.items[0].product.getImages()[0].imageUrl }}"
                                        onerror="this.src='/images/no_image.png';"
                                >
                                {#                                        </a>#}
                            </td>
                        </tr>
                    </table>
                    {% if order.items|length > 1 %}
                        <div class="extra-products-amount">+{{ order.items|length - 1 }}</div>
                    {% endif %}
                    <div class="info">
                        <div class="status">
                            <b style="color: {{ constant('App\\Entity\\Order::GROUPED_STATUSES')[order.status]['color'] }}">
                                {{ constant('App\\Entity\\Order::GROUPED_STATUSES')[order.status]['title'] }}
                            </b>
                        </div>
                        <div class="number-order">№ {{ order.orderNumber }}</div>
                        <div class="datetime-price">
                            <div class="datetime">{{ order.createdAt.format('Y-m-d H:i:s') }}</div>
                            <div class="price"><b>{{ order.total|number_format(0, ',', ' ') }} грн</b></div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
{% endif %}

<div id="slider">
    {% for slider in sliders %}
        <div class="item">
            <div class="background"><img src="images/slider/{{ slider.imageUrl }}"></div>
            <a class="link button" href="{{ slider.url }}">{{ slider.title }}</a>
        </div>
    {% endfor %}
</div>

<section>
    <div class="home-page">
        <p class="title">Новинки</p>
        <div id="new-products">
            {% for product in products %}
                {% include 'm/partials/product-item.html.twig' %}
            {% endfor %}
        </div>

        {% if feedbacks|length > 0 %}
            <p class="title">Відгуки про магазин</p>
            <div id="feedbacks-mobile">
                {% for comment in feedbacks %}
                    <div class="comment">
                        {% include 'm/partials/comment.html.twig' %}
                    </div>
                {% endfor %}
            </div>
            <div id="feedback-buttons">
                <a href="/feedbacks#add" class="green-button">Додати відгук</a>
                <a href="/feedbacks" class="green-button">Переглянути відгуки</a>
            </div>
        {% endif %}
        </div>
    </section>

{% endblock %}
