{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('order') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}

    <section>
        <div class="breadcrumb">
            <a class="image" href="/shopping-cart">
                <img src="/images/arrow_navigate.png">
            </a>
            <span>Оформлення замовлення</span>
        </div>

        <div class="order-place">
            <form method="POST" action="/order" id="order">
                <div>
                    <label>
                        <p>Ім'я: <span class="required">*</span></p>
                        <input type="text" name="name" autocomplete="off" value="{% if user %}{{ user.name }}{% endif %}">
                    </label>
                </div>
                <div>
                    <label>
                        <p>Прізвище: <span class="required">*</span></p>
                        <input type="text" name="surname" autocomplete="off" value="{% if user %}{{ user.surname }}{% endif %}">
                    </label>
                </div>
                <div>
                    <label>
                        <p>Номер телефону: <span class="required">*</span></p>
                        <input type="text" name="phone" autocomplete="off" value="{% if user %}{{ user.phone }}{% endif %}">
                    </label>
                </div>
                <div>
                    <label>
                        <p>E-mail:</p>
                        <input type="text" name="email" autocomplete="off" value="{% if user %}{{ user.email }}{% endif %}">
                    </label>
                </div>
                <div>
                    <label>
                        <p>Спосіб доставки:</p>
                        <select name="deltype">
                            {% for deliveryType in deliveryTypes %}
                                <option value="{{ deliveryType.id }}">{{ deliveryType.title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <span id="payment-type"></span>
                <div>
                    <label>
                        <p>Коментар:</p>
                        <textarea name="comment"></textarea>
                    </label>
                </div>
                <div style="margin-top: 10px;">
                    <label class="container">
                        <input type="checkbox" name="consent" />
                        <span class="checkmark"></span>
                        <span>Прочитав і погоджуюсь з правилами магазину. Правила магазину можна знайти <a href="/images/warranty.pdf" target="_blank" class="green">тут</a><span class="required">&nbsp;&nbsp;*</span></span>
                    </label>
                </div>
                <div>
                    <p class="total-price">Загальна вартість: <span>{{ totalPrice|number_format(0, '.', ' ') }} грн</span></p>
                </div>
                <div>
                    <input class="green-button" type="submit" value="Створити">
                </div>
            </form>
        </div>
    </section>

{% endblock %}
