{% extends "base.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('order') }}
{% endblock %}

{% block body %}

    <header>
        {% include 'partials/header.html.twig' %}
    </header>

    <section>
        <div class="title">Оформлення замовлення</div>

        <div class="breadcrumb">
            <a>X-media</a>
            <span> > </span>
            <a href="/">Головна</a>
            <span> > </span>
            <a class="selected">Оформлення замовлення</a>
        </div>

        <div class="order-place">
            <form method="POST" action="/order">
                <div>
                    <p>Ім'я: <span class="required">*</span></p>
                    <input type="text" name="name" autocomplete="off" value="{% if user %}{{ user.name }}{% endif %}" required>
                </div>
                <div>
                    <p>Прізвище: <span class="required">*</span></p>
                    <input type="text" name="surname" autocomplete="off" value="{% if user %}{{ user.surname }}{% endif %}" required>
                </div>
                <div>
                    <p>Номер телефону: <span class="required">*</span></p>
                    <input type="text" name="phone" autocomplete="off" value="{% if user %}{{ user.phone }}{% endif %}" required>
                </div>
                <div>
                    <p>E-mail:</p>
                    <input type="text" name="email" autocomplete="off" value="{% if user %}{{ user.email }}{% endif %}">
                </div>
                <div>
                    <p>Спосіб доставки:</p>
                    <select name="deltype">
                        {% for deliveryType in deliveryTypes %}
                            <option data-deltype-id="{{ deliveryType.id }}">{{ deliveryType.title }} - {{ deliveryType.cost }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% for deliveryType in deliveryTypes %}
                    {% if deliveryType.id == 1 %}
                        <span data-delivery="{{ deliveryType.id }}" class="delivery-info active">
                            <div class="payment">
                                <p>Спосіб оплати:</p>
                                <select name="paytype">
                                    {% for paymentType in deliveryType.getPaymentTypes() %}
                                        <option>{{ paymentType.title }}</option>
                                    {% endfor%}
                                </select>
                            </div>
                        </span>
                    {% elseif deliveryType.id == 2 %}
                        <span data-delivery="{{ deliveryType.id }}" class="delivery-info">
                            <div class="payment">
                                <p>Спосіб оплати:</p>
                                <select name="paytype">
                                    {% for paymentType in deliveryType.getPaymentTypes() %}
                                        <option>{{ paymentType.title }}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <div>
                                <p>Адреса:</p>
                                <textarea name="address">{% if user %}{{ user.name }}{% endif %}</textarea>
                            </div>
                        </span>
                    {% elseif deliveryType.id == 3 %}
                        <span data-delivery="{{ deliveryType.id }}" class="delivery-info">
                            <div>
                                <p>Спосіб оплати:</p>
                                <select name="paytype">
                                    {% for paymentType in deliveryType.getPaymentTypes() %}
                                        <option>{{ paymentType.title }}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <div>
                                <p>Місто:</p>
                                <select name="city" id="nova-poshta-city" disabled>
                                    {% for city in cities %}
                                        <option value="{{ city.ref }}" {% if user and city.ref == user.novaPoshtaCity %}selected{% endif %}>
                                            {{ city.title }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% if offices|length > 0 %}
                                <div id="nova-poshta-office">
                                    <p>Відділення:</p>
                                    <select name="office" id="nova-poshta-office">
                                        {% for office in offices %}
                                            <option value="{{ office.ref }}" {% if office.ref == user.novaPoshtaOffice %}selected{% endif %}>
                                                {{ office.title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% else %}
                                <div id="nova-poshta-office"></div>
                            {% endif %}
                        </span>
                    {% endif %}
                {% endfor %}
                <div>
                    <p>Коментар:</p>
                    <textarea name="comment"></textarea>
                </div>
                <div>
                    <p class="total-price">Загальна вартість: <span>{{ totalPrice|number_format(0, '.', ' ') }} грн</span></p>
                </div>
                <div>
                    <input class="green-button" type="submit" value="Створити">
                </div>
            </form>
        </div>
    </section>

{% endblock %}
