{% extends "base.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('category') }}
    {{ encore_entry_script_tags('home') }}
    {{ encore_entry_script_tags('cart') }}
{% endblock %}

{% block body %}

    <header>
        {% include 'partials/header.html.twig' %}
    </header>

    <section class="category">
        <div class="category-title">{{ category.title }}</div>

        <div class="breadcrumb">
            X-media&nbsp;&nbsp;>&nbsp;&nbsp;<a href="/">Головна</a> <span> > </span> <a href="" class="selected">{{ category.title }}</a>
        </div>

        <div id="filters">
            {% include 'partials/filters.html.twig' %}
        </div>

        <div id="products">
            <div class="order-by">
                <select name="order">
                    <option value="price" data-direction="asc" {% if order is defined and order=='price' and direction is defined and direction=='asc' %}selected{% endif %}>
                        Від дешевих до дорогих
                    </option>
                    <option value="price" data-direction="desc" {% if order is defined and order=='price' and direction is defined and direction=='desc' %}selected{% endif %}>
                        Від дорогих до дешевих
                    </option>
                    <option value="createdAt" data-direction="desc" {% if order is defined and order=='createdAt' and direction is defined and direction=='desc' %}selected{% endif %}>
                        Новинки
                    </option>
                </select>
            </div>
            <div class="products">
                {% include 'partials/product-list.html.twig' %}
            </div>
            <div class="loader"></div>
        </div>
    </section>

{% endblock %}
