{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}

    <section>

        <div class="breadcrumb">
            <a class="image" href="/">
                <img src="/images/arrow_navigate.png">
            </a>
            <span>Контакти</span>
        </div>

        <div class="about-us">
            <h3>Наші контакти</h3>
            <h4>Інтернет-магазин {{ shopSite.getValue() }}</h4>
            <p>Телефон: <span>{{ phoneNumber.getValue() }} </span></p>
            <p>Наш email: <span>{{ email.getValue() }} </span></p>
        </div>
    </section>

{% endblock %}
