{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('product') }}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}

<section>

    <div class="breadcrumb">
        <a class="image" href="/">
            <img src="/images/arrow_navigate.png">
        </a>
        <span>Корзина (<span class="total-count">{{ totalCount }}</span>)</span>
    </div>

    <div id="cart-block">
        {% if products|length > 0 %}
            <div class="inner">
                {% for product in products %}
                    <div class="product-row" data-id="{{ product.id }}" data-name="{{ product.title|raw }}">
                        <div class="image">
                            <a class="no-link-style" href="/products/{{ product.id }}">
                                <img
                                    src="/images/products/{% if product.images|length > 0 %}{{ product.images[0].imageUrl }}{% endif %}"
                                    onerror="this.src='/images/no_image.png';"
                                />
                            </a>
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="product_title"><a class="no-link-style" href="/products/{{ product.id }}">{{ product.title|raw }}</a></div>
                                <div class="remove"><img class="delete" src="/images/delete.png"></div>
                            </div>
                            <div class="row">
                                <div class="count">
                                    <div class="minus">-</div>
                                    <input type="text" name="count" id="item-amount-{{ product.id }}" value="{{ product.count }}" onkeypress="return event.charCode >= 48 && event.charCode <= 57" autocomplete="off">
                                    <div class="plus">+</div>
                                </div>
                                <div class="price"><span>{{ product.price|number_format(0, '.', ' ') }}</span> грн</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p class="total-price">Загальна вартість: <span id="total-price-value">{{ totalPrice|number_format(0, '.', ' ') }} грн</span></p>
            <div id="go-to-order"><a class="green-button" href="/order-create">Перейти до оформлення замовлення</a></div>
        {% else %}
            <h4>Корзина пуста</h4>
            <p>Ви ще не додали жодного товару в корзину.</p>
            <div class="smile">
                <img src="/images/not-found.png">
            </div>
            <div class="continue-purchase">
                <a href="/" class="green-button">Продовжити покупки</a>
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}
