<p>Доброго дня {{ name }}!</p>
<p>Ваше замовлення № {{ orderNumber }} відправлено нашими менеджерами і вже прямує до Вас.</p>
<p>Щоб відслідкувати місцезнаходження замовлення або дізнатись деталі використайте номер накладної.</p>
<p>ТТН: {{ ttn }}</p>
<p>Про прибуття замовлення на відділення ви будете повідомленні сервісом Нова Пошта.</p>
<br>
<p>З повагою</p>
<p>X-media</p>
<p><b>Контакти</b></p>
<p>Є питання? Ви також можете зв’язатися з нами електронною поштою, по телефону.</p>
<p style="display: flex; align-items: center;"><img src="{{ app.request.uri }}/images/email.png" width="20" style="margin-right: 5px;"><span>{{ email.getValue() }}</span></p>
<p style="display: flex; align-items: center;"><img src="{{ app.request.uri }}/images/phone.png" width="20" style="margin-right: 5px;"><span> {{ phoneNumber.getValue() }} </span></p>
