<p>Нове замовлення</p>
<p>Деталі:</p>
<table>
    {% for item in order.items %}
        <tr>
            <td style="padding: 20px; background-color: #eee">
                <a style="color: #000; text-decoration: none;" href="{{ mainUrl }}products/{{ item.product.id }}">
                    <img src="{{ mainUrl }}/images/products/{{ item.product.getImages()[0].imageUrl }}" width="100" style="margin-right: 10px;"  alt=""/>
                </a>
            </td>
            <td style="padding: 20px; background-color: #eee">
                <a style="color: #000; text-decoration: none;" href="{{ mainUrl }}products/{{ item.product.id }}">
                    <span class="height: 10px;">{{ item.product.title }}</span>
                </a>
            </td>
            <td style="padding: 20px; background-color: #eee; text-align: center;"><span>{{ item.product.price|number_format(0, '.', ' ') }}</span> грн</td>
            <td style="padding: 20px; background-color: #eee; text-align: center;"><span>{{ item.count }}</span></td>
        </tr>
    {% endfor %}
</table>
<p>{{ order.comment }}</p>
