{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}

    <section>

        <div class="breadcrumb">
            <span>Дякуємо за покупку</span>
        </div>

        <div class="order-detail">
            <p class="thanks">Ми отримали Ваше замовлення<br>Номер замовлення <b>{{ order.orderNumber }}&zwj;</b><br>Невдовзі ми з Вами зв'яжемося для уточнення деталей</p>
            <table class="products">
                {% for item in order.items %}
                    <tr>
                        <td class="image">
                            <a href="/products/{{ item.product.id }}">
                                <img
                                    src="/images/products/{{ item.product.getImages()[0].imageUrl }}"
                                    onerror="this.src='/images/no_image.png';"
                                >
                            </a>
                        </td>
                        <td><a href="/products/{{ item.product.id }}">{{ item.product.title|raw }}</a></td>
                        <td class="count">{{ item.count }}</td>
                    </tr>
                {% endfor %}
            </table>
            <p><span>Спосіб оплати:<br> </span>{{ order.paytype.title }}</p>
            <p><span>Спосіб доставки:<br>  </span>{{ order.deltype.title }}</p>
            {% if order.address %}<p><span>Адреса:<br> </span></span>{{ order.address }}</p>{% endif %}
            <p><span>Загальна вартість:<br>  </span>{{ order.total|number_format(0, '.', ' ') }} грн</p>
            <div class="main-page-btn">
                <a class="green-button" href="/">Головна сторінка</a>
            </div>
        </div>
    </section>

{% endblock %}
