<header>
    <div id="menu-open">
        <div class="hamburger" id="hamburger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <div id="logo"><a href="/">X-media</a></div>
    <a id="account" href="{% if app.session.get('user') %}/account{% else %}/login{% endif %}">
        <img src="/images/account.png">
    </a>
    <a id="cart" href="/shopping-cart">
        <img class="cart" src="/images/cart.png">
        <div id="cart-count">
            {% if totalCount > 0 %}
                {{ totalCount }}
            {% else %}
                0
            {% endif %}
        </div>
    </a>
</header>

{% set currentPath = path(app.request.attributes.get('_route'), app.request.query.all|merge(app.request.attributes.get('_route_params'))|merge({'page-type': 'desktop'})) %}

<section class="menu_body" id="menu-body">
    <div class="menu_body__item_wrapper">
        <!--    menu list-->
        <ul class="menu_list">
            <li><a href="/"><div class="link">Головна</div></a></li>
            {% for category in categories %}
                <li class="parent-category" data-category-id="{{ category.id }}">
                    {% if category.children|length > 0 %}
                        <div class="link">
                            {{ category.title }}
                            <img class="arrow" src="/images/arrow_down_gray.png">
                        </div>
                    {% else %}
                        <a href="/categories/{{ category.slug }}">
                            <div class="link">
                                {{ category.title }}
                            </div>
                        </a>
                    {% endif %}
                </li>
                {% if category.children|length > 0 %}
                    <ul class="children category-{{ category.id }}">
                        {% for child in category.children %}
                            <li>
                                <a href="/categories/{{ child.slug }}">
                                    <div class="link">
                                        {{ child.title }}
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="/categories/{{ category.slug }}">
                                <div class="link">
                                    Все в категорії
                                </div>
                            </a>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
            <hr>
            <li><a href="/delivery-and-pay"><div class="link">Доставка та оплата</div></a></li>
            <li><a href="/about-us"><div class="link">Про нас</div></a></li>
            <li><a href="/feedbacks"><div class="link">Відгуки про магазин</div></a></li>
            <hr>
            <li>
                <a href="{% if app.request.attributes.get('_route') == 'mobile_cart' %}/?page-type=desktop{% else %}{{ currentPath }}{% endif %}">
                    <div class="link">
                        <img class="full-v-img" src="/images/desktop_version.png">
                        <span>Повна версія сайту</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
