<div class="product">
    <div class="inner">
        <img
            class="product-image"
            src="/images/products/{% if product.images|length > 0 %}{{ product.images[0].imageUrl }}{% endif %}"
            onerror="this.src='/images/no_image.png';"
        >
        <div class="product-title"><a href="/products/{{ product.id }}">{{ product.title }}</a></div>
        <div class="rating">
            <span class="star-rating"></span>
            <span class="value" data-value="{{ product.getAverageRating()|round(2) }}">
                ({{ product.getAverageRating()|round(2) }})
            </span>
        </div>
        <div class="filter-attributes">
            {% for attribute in product.getFilterAttributes %}
                <span>{{ attribute.getFilter().getTitle() }}: {{ attribute.getFilterAttribute().getValue() }}</span>
                {% if loop.last %}
                {% else %}
                    <span> | </span>
                {% endif %}
            {% endfor %}
        </div>
        <div class="price">Ціна: {{ product.price|number_format(0, '.', ' ') }} грн</div>
        <div class="add2cart">
            <div data-id="{{ product.id }}">
                <span>Купити</span>
                <img src="/images/cart_white.png">
            </div>
        </div>
    </div>
</div>
