<form id="filters-mobile-form">
    <div class="filter promotion-filter-parameter">
        <p class="filter-title">Категорії:</p>
        <ul class="filter promotion-category-outer">
            {% for category in categoriesTree %}
                <li>
                    <a href="{{ path('categories', {'slug': category.slug, 'search': searchString}) }}" class="no-link-style">
                        {{ category.title }} <span>({{ category.productsCount }})</span>
                    </a>
                    <ul class="promotion-category-inner">
                        {% for child in category.children %}
                            <li>
                                <a href="{{ path('categories', {'slug': child.slug, 'search': searchString}) }}" class="no-link-style">
                                    {{ child.title }} <span>({{ child.productsCount }})</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</form>
