{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('product') }}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block meta %}
    <meta name="keywords" content="{{ product.metaKeyword }}" />
    <meta name="description" content="{{ product.metaDescription }}" />
{% endblock %}

{% block body %}

    <section class="product-page">

        <div class="breadcrumb">
            <a class="image" href="/categories/{{ product.getCategory().slug }}">
                <img src="/images/arrow_navigate.png">
            </a>
        </div>

        <div class="images">
            <div class="main">
                <img
                    src="/images/products/{% if 0 in product.getImages()|keys %}{{ product.getImages()[0].imageUrl }}{% endif %}"
                    onerror="this.src='/images/no_image.png';"
                >
            </div>
            <div class="list">
                <div class="inner">
                    {% for image in product.getImages() %}
                        <img
                            src="/images/products/{{ image.imageUrl }}" {% if loop.first %}class="active"{% endif %}
                            onerror="this.src='/images/no_image.png';"
                        >
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="detail">
            <div class="product-title">{{ product.title }}</div>
            {% if product.productCode %}
                <div class="product-code">Код товару: {{ product.productCode }} | Код x-media: {{ "%05d"|format(product.id) }}</div>
            {% endif %}
            <div class="readonly-rating">
                <span class="star-rating"></span>
                <span class="value" data-value="{{ product.getAverageRating()|round(2) }}">
                ({{ product.getAverageRating()|round(2) }})
                </span>
            </div>
            <div class="in-stock">
                <p>{{ product.availability }}</p>
                <img src="{{ asset(constant('App\\Entity\\Product::AVAILABILITY_ICONS')[product.availability]) }}" width="15">
            </div>
            <div class="information-block">
                <div class="attributes-buy">
                    <div class="attributes">
                        {% for attribute in product.getFilterAttributes() %}
                            <div class="attribute">
                                <div class="title">{{ attribute.getFilter().getTitle() }}:</div>
                                <div class="value">{{ attribute.getFilterAttribute().getValue() }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="property-link">&#9660; Переглянути всі характеристики</div>
                    <div class="price">Ціна: {{ product.getPrice()|number_format(0, '.', ' ') }} грн</div>
                    <div class="add2cart">
                        <div data-id="{{ product.id }}">
                            <span>Купити</span>
                            <img src="/images/cart_white.png" data-id="{{ product.id }}">
                        </div>
                    </div>
                </div>
                <div class="information">
                    <div class="delivery-paid-stock">
                        <p><span>Доставка:&nbsp;</span>
                            <a href="/delivery-and-pay" target="_blank">
                                <img src="/images/info.png" width="15">
                            </a>
                        </p>
                        <ul>
                            <li>по Україні - перевізником Нова пошта</li>
                            <li>по Києву - кур'єром</li>
                        </ul>
                        <p>
                            <span>Оплата:&nbsp;</span>
                            <a href="/delivery-and-pay" target="_blank">
                                <img src="/images/info.png" width="15">
                            </a>
                        </p>
                        <ul>
                            <li>переказом на карту</li>
                            <li>готівкою при отриманні</li>
                        </ul>
                        <p>
                            <span>Гарантія:&nbsp;</span>
                            <a href="/delivery-and-pay" target="_blank">
                                <img src="/images/info.png" width="15">
                            </a>
                        </p>
                        <ul>
                            <li>точний гарантійний термін вказаний в характеристиках кожного продукту</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabs-place">
            <div class="tabs">
                <div class="tab active" data-tab="description">Опис товару</div>
                <div class="tab" data-tab="characteristics">Характеристики</div>
                <div class="tab" data-tab="reviews">Відгуки</div>
            </div>
            <div class="content">
                <div class="content-tab active" id="description">{{ product.getDescription()|raw }}</div>
                <div class="content-tab" id="characteristics">
                    <table>
                        {% for characteristic in product.getCharacteristics() %}
                            <tr>
                                <td>{{ characteristic.getTitle()|raw }}</td>
                                <td>{{ characteristic.getValue()|raw }}</td>
                            </tr>
                        {% endfor %}
                        {% if product.productCode %}
                            <tr>
                                <td>Код товару</td>
                                <td>{{ product.productCode }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
                <div class="content-tab" id="reviews">
                    <form method="post" id="add-review" class="add-comment">
                        <div class="inner">
                            <p>Залишити відгук про товар:</p>
                            <div class="rating_m"></div>
                            <label>
                                <span class="field">Ім'я:<span class="required">*</span></span>
                                <input type="text" name="author" id="author">
                            </label>
                            <label>
                                <span class="field">Email:</span>
                                <input type="text" name="email" id="email">
                            </label>
                            <label>
                                <span class="field">Коментар:<span class="required">*</span></span>
                                <textarea name="text" id="comment"></textarea>
                            </label>
                            <input type="hidden" name="product" value="{{ product.id }}" id="product">
                            <div class="send-btn-block">
                                <input class="green-button" type="submit" value="Відправити">
                            </div>
                        </div>
                    </form>
                    <div id="comment-list">
                        <h4>Відгуки про товар:</h4>
                        {% if product.getComments()|length %}
                            <div id="list">
                                {% for comment in product.getComments() %}
                                    <div class="comment">
                                        {% include 'partials/comment.html.twig' %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>На даний момент відгуків про даний товар ще немає, у тебе є шанс додати перший :)</p>
                        {% endif %}
                    </div>
                </div>
                <div id="comment-popup">
                    <div>Дякуємо за відгук!<br>Відправлено на опрацювання модератором</div>
                </div>
            </div>
        </div>
    </section>

    <div id="product-preview-mobile">
        <div id="background"></div>
        <div class="products">
            {% for image in product.getImages() %}
                <div class="image">
                    <img
                        src="/images/products/{{ image.imageUrl }}"
                        onerror="this.src='/images/no_image.png';"
                    >
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="scroll-top"><img src="/images/arrow_up_gray.png"></div>

{% endblock %}
